body {
  padding-bottom: 30px; }

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px; }

.input-group {
  padding: 3px; }

.board-title-div {
  width: 50%;
  float: left; }

.theme-showcase > p > .btn {
  margin: 5px 0; }

.theme-showcase .navbar .container {
  width: auto; }

.board-header {
  padding: 7px; }

.navbar {
  background: linear-gradient(#444444, #292b2c); }

.txt-white {
  color: white; }

.pdg-5px {
  padding: 5px; }

.div-center {
  margin: 0 auto; }

.text-center {
  text-align: center; }

.login-input {
  margin: 10px 0; }

.flex-container {
  display: flex;
  flex-wrap: wrap; }

.card {
  background-color: white;
  margin: 5px;
  padding: 10px;
  min-width: 200px; }

.card h3 {
  margin: 0; }

.right-bottom-align {
  margin: 5px;
  text-align: right; }

.fa-float-right {
  float: right; }

.fa-small {
  padding: 8px 1px 0 0;
  font-size: 14px !important; }

.board {
  margin: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  min-height: 150px;
  display: block; }

.display-none {
  display: none; }

.home-board-link {
  cursor: pointer; }

a.board {
  color: black; }

a.board:hover {
  color: black;
  text-decoration: none; }

.div-above-search {
  width: 116px;
  float: right; }

.top-bar {
  width: 98%;
  margin: 10px;
  height: 90px; }

.float-right {
  float: right; }

.input-div {
  width: 250px;
  max-width: 49%; }

.input-div input {
  width: 100px; }

.width-max {
  width: 100%; }

.div-state-header {
  width: 100%;
  min-height: 40px;
  float: left;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background-color: white;
  margin-bottom: 10px;
  padding: 3px; }

.div-state-title {
  width: 75%;
  min-height: 40px;
  float: left;
  padding: 2px 0 0 15px; }

.div-state-actions {
  float: right;
  height: 40px;
  width: 25%;
  max-width: 60px; }

.div-state-arrow {
  width: 30%;
  float: left; }

.div-state-arrow i {
  padding-top: 7px; }

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0; }

.search-bar {
  width: 60%;
  margin: 0 auto; }

.btn-group .btn .dropdown-toggle {
  border-radius: 0 !important;
  margin-left: -1px; }

.btn-group .btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.input-group-btn .btn-group .btn-default {
  display: flex !important;
  height: 38px; }

.btn-group .btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.form-group .form-control:last-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.space {
  height: 100px; }

.dropdown-menu {
  padding: 15px;
  width: 250px; }

.fa-minus-circle {
  padding-top: 9px !important; }

.fa:hover {
  color: #7e7e7e; }

.flex-container .ui-droppable:first-child .div-state-header .div-state-actions .fa-arrow-left,
.flex-container .ui-droppable:last-child .div-state-header .div-state-actions .fa-arrow-right {
  pointer-events: none;
  color: #acacac; }

.fa {
  color: #525252; }

@media only screen and (max-width: 770px) {
  .board {
    flex-wrap: wrap; }

  .flex-container {
    flex-direction: column; } }
@media only screen and (min-width: 771px) {
  .board {
    flex-grow: 1;
    flex-basis: 15%; }

  .flex-container {
    flex-direction: row; } }
#red-slider, #green-slider, #blue-slider {
  float: left;
  clear: left;
  width: 300px;
  margin: 15px; }

#swatch {
  width: 120px;
  height: 40px;
  background-image: none; }

#red-slider .ui-slider-range {
  background: #ef2929; }

#red-slider .ui-slider-handle {
  border-color: #ef2929; }

#green-slider .ui-slider-range {
  background: #8ae234; }

#green-slider .ui-slider-handle {
  border-color: #8ae234; }

#blue-slider .ui-slider-range {
  background: #729fcf; }

#blue-slider .ui-slider-handle {
  border-color: #729fcf; }

/* https://jqueryui.com/autocomplete/#maxheight */
.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  z-index: 9999;
  overflow-x: hidden; }

* html .ui-autocomplete {
  height: 100px;
  z-index: 9999; }

/*# sourceMappingURL=theme.css.map */
